h1{
    text-align: center;
    font-family: serif;
    height: 200;
}

body h1{
    background-image: url("https://img.grouponcdn.com/deal/27sc7juBCt22WMBtQFKQ1meUr5Dj/27-2048x1229/v1/c870x524.webp");
}

